<template>
  <div>
    <TestComponent/>
    <table class="table table-striped dataTable">
      <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quality</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="product.length === 0">
        <td colspan="8" class="text-center"><span>Data not found!</span></td>
      </tr>
      <tr v-for="(item, index) in product"  :key="index">
        <td>{{ index++ }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category_id }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quality }}</td>
        <td v-if="item.status === 0">Không hoạt đông</td>
        <td v-if="item.status === 1">Hoạt đông</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "index",
  data() {
    return {
      product: {}
    };
  },
  async asyncData({ $axios, route }) {
    const page = route.query.page == undefined ? 1 : route.query.page;
    const data = await $axios.$get(`api/product?page=${page}`);
    return {
      product: data.data,
    };
  },
}
</script>

<style scoped>
  *{
    margin: 0;
    padding: 0;
  }
</style>
