<template>
  <div>
    <TestComponent />
    <table class="table table-striped dataTable">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="category.length == 0">
          <td colspan="8" class="text-center"><span>Data not found!</span></td>
        </tr>
        <tr v-for="(item, index) in category" :key="index">
          <td>{{ index++ }}</td>
          <td>{{ item.name }}</td>
          <td v-if="item.status == 1">Hoạt động</td>
          <td v-if="item.status == 0">Không hoạt động</td>
          <td>
            <nuxt-link :to="{ name: 'category-create' }"
              ><i class="fa fa-plus"></i
            ></nuxt-link>
            <nuxt-link
              :to="{ name: 'category-edit-id', params: { id: item.id } }"
              ><i class="fa fa-edit"></i
            ></nuxt-link>
            <button type="button" @click="deleteCategory(item.id)">
              <nuxt-link :to="{ name: 'category' }"
                ><i class="fa fa-trash"></i
              ></nuxt-link>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "index",
  data() {
    return {
      category: [],
    };
  },
  async asyncData({ $axios, route }) {
    const page = route.query.page == undefined ? 1 : route.query.page;
    const data = await $axios.$get(`api/category?page=${page}`);
    return {
      category: data.data,
    };
  },
  methods: {
    async deleteCategory(id) {
      const getId = id;
      const ip = await this.$axios
        .$delete(`api/category/${getId}`, {
          name: this.category.name,
          status: this.category.status,
        })
        .then((response) => {
          location.reload();
          // this.$router.push({ name: "category" });
        })
        .catch((err) => {});
    },
  },
};
</script>
