<template>
  <div>
    <TestComponent />
    <div class="container max-w-full mx-auto md:py-24 px-6">
      <div class="max-w-sm mx-auto px-6">
        <div class="relative flex flex-wrap">
          <div class="w-full relative">
            <div class="md:mt-6">
              <form class="mt-8">
                <div class="mx-auto max-w-lg">
                  <div class="py-1">
                    <span class="px-1 text-sm text-gray-600">Name</span>
                    <input
                      placeholder=""
                      v-model="category.name"
                      type="text"
                      class="
                        text-md
                        block
                        px-3
                        py-2
                        rounded-lg
                        w-full
                        bg-white
                        border-2 border-gray-300
                        placeholder-gray-600
                        shadow-md
                        focus:placeholder-gray-500
                        focus:bg-white
                        focus:border-gray-600
                        focus:outline-none
                      "
                    />
                  </div>
                  <div class="py-1">
                    <span class="px-1 text-sm text-gray-600">Status</span>
                    <b-form-select
                      v-model="category.status"
                      :options="options"
                    ></b-form-select>
                  </div>
                  <button
                    class="
                      mt-3
                      text-lg
                      font-semibold
                      bg-gray-800
                      w-full
                      text-white
                      rounded-lg
                      px-6
                      py-3
                      block
                      shadow-xl
                      hover:text-white hover:bg-black
                    "
                    type="button"
                    @click="onSubmit"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios, route }) {
    const id = route.params.id;
    const category = await $axios.$get(`api/category/${id}`);
    return { category };
  },
  data() {
    return {
      category: {
        name: "",
        status: "",
      },
      form: {
        status: null,
        name: "",
        err: null,
      },
      options: [
        { value: null, text: "Please select an option" },
        { value: "1", text: "Enable" },
        { value: "0", text: "Disable" },
      ],
    };
  },
  methods: {
    async onSubmit() {
      const id = this.category.id;
      const ip = await this.$axios
        .$put(`api/category/${id}`, {
          name: this.category.name,
          status: this.category.status,
        })
        .then((response) => {
          this.$router.push({ name: "category" });
        })
        .catch((err) => {});
    },
  },
};
</script>
