<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Home</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item
          >
            <nuxt-link :to="{ name: 'category' }">Category
            </nuxt-link
            >
          </b-nav-item>
          <b-nav-item href="#">
            <nuxt-link :to="{ name: 'product' }">Product
            </nuxt-link
            >
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "TestComponent",
};
</script>
<style scoped>
li.hover:hover ul {
  display: block;
}
</style>

